@font-face {
  font-family: "Montserrat-Medium";
  src: url("./Montserrat-Medium.woff2") format("woff2"),
       url("./Montserrat-Medium.woff") format("woff"),
       url("./Montserrat-Medium.ttf") format("truetype");
}
