
    @media (max-width: 980px) {
  .hamburger {
    display: flex; /* Показываем бургер‑кнопку */
  }
  
  .navigation {
    display: none; /* Скрываем основное меню */
  }
   .header__action-block {
        display: none;
    }
}

