@media (max-width: 980px) {
  .hamburger {
    display: flex;
  }
  .navigation {
    display: none;
  }
  .header__action-block {
    display: none;
  }
  @media (min-width: 360px) {
    .header__container {
      padding-left: 16px;
      padding-right: 8px;
    }

    main {
      padding: 0 16px;
    }
    h1 {
      padding-left: 15px;
    }
    .filter-container {
      padding-left: 20px;
    }
  }
  @media (max-width: 728px) {
    .logo img {
      max-width: 48px;
      height: 34px;
    }
    h1 {
      padding-left: 20px;
    }
    .filter-container {
      flex-wrap: nowrap;
      overflow-x: auto;
      padding-left: 20px;
      -webkit-overflow-scrolling: touch;
      scrollbar-width: none;
    }

    .filter-container::-webkit-scrollbar {
      display: none;
    }

    .filter-container:hover {
      scrollbar-width: thin;
    }

    .filter-container:hover::-webkit-scrollbar {
      display: none;
      height: 6px;
      border-radius: 3px;
    }

    .filter-container:hover::-webkit-scrollbar-track {
      background: #f5f5f5;
    }

    .filter-container:hover::-webkit-scrollbar-thumb {
      background: #bbb;
      border-radius: 3px;
    }

    .filter-item {
      min-width: max-content;
      white-space: nowrap;
      margin-bottom: 8px;
    }

    .filter-item {
      font-size: 14px;
      padding: 5px 8px;
    }

    .with-emoji::before {
      margin-right: 4px;
    }

    .filter-item img {
      width: 18px;
      height: 18px;
      margin-right: 6px;
    }
  }
  .header {
    height: 72px;
  }
  .header__container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .card-content {
    height: 274px;
  }
}
@media (max-width: 960px) {
  .blog-grid {
    grid-template-columns: 1fr;
    padding: 15px;
    gap: 24px;
  }

  .grid-card {
    min-height: 599px;
  }

  .card-image {
    height: 404px;
  }

  .card-content {
    padding: 16px 16px 44px 16px;
  }

  .card-excerpt {
    -webkit-line-clamp: 4;
    margin-bottom: 30px;
    word-break: break-word;
  }

  .card-title {
    font-size: 1.1em;
  }

  .card-author {
    margin: 4px 0 10px 12px;
    font-size: 0.9em;
  }
}

@media (max-width: 480px) {
  .grid-card {
    min-height: auto;
  }

  .card-image {
    height: 20vw;
  }
  .card-tags {
    flex-wrap: wrap;
    gap: 4px;
  }
  .card-image {
    height: 206px;
    margin-bottom: 16px;
  }
  .card-content {
    margin-top: 12px;
  }
}

@media (max-width: 1024px) {
  .navigation__list {
    column-gap: 16px;
  }
  header__action-block {
    padding-left: 20px;
    padding-right: 32px;
  }
  .header__container {
    padding-left: 32px;
    padding-right: 32px;
  }
  .card-content {
    height: 253px;
  }
}

