
/* Глобальные настройки */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  position: fixed;
  width: 100%;
  box-shadow: 0px -2px 0px 0px #EFF2F2 inset;
  background: #FFFFFF;
}
.header__container {
  display: flex;
  max-width: 1200px;
  height: 76px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  

}
.header__logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  
}
.logo {
  display: block; 
  width: 51px; 
  height: auto; 
  max-width: 100%;
}

.logo__image {
  height: 34px;
  width: 100%;
  max-width: 51px;
  display: block;
}
.navigation {
  display: block;
  padding-right:51px;
  
}
.navigation__list {
display: flex;
list-style: none;
margin: 0;
padding: 0 auto;
column-gap: 30px;
  
}
.navigation__item {
}

.navigation__item--regular {
  cursor: pointer;
}
.navigation__link {
  text-decoration: none;
  font-family: "Montserrat-Medium";
  font-weight: 500;
  color: #333;
  transition: color 0.3s ease;
}
.navigation__link:hover {
  color: #4CAF50;
}

.navigation__item--with-icon {
} 

.navigation__link--with-icon {
}

.navigation__icon {
   margin-left: 8px;
  width: 14px;
  height: 14px;
  vertical-align: middle;
}

.header__action-block {
  display: flex;
  align-items: center;
  margin-right: -20px;
  
}
.button {
  cursor: pointer;
  
}
.button--green {
  padding-right:0 ;

   width: 230px;
  height: 48px;
 background-color: #E3F5F5;
 color: #03B2A5;
 border: none;
 border-radius: 4px;
 transition: all 0.3s ease;
 font-family: "Montserrat-Medium";
 font-weight: 700;
 font-size: 16px; 

  
}
.button--green:hover {
  background-color: #f8f8f8;
transform: translateY(-2px);
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.button--large {
}
.hamburger {
  display: none; 
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 1000;
}

.hamburger span {
  display: block;
  height: 3px;
  width: 100%;
  background-color: #03B2A5; 
  border-radius: 2px;
  transition: all 0.3s ease;
  position: relative;
}



/* .hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
  
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
  
}

.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -6px);
  
} */
.hamburger span:nth-child(1) {
  background-color: #03B2A5; 
}

.hamburger span:nth-child(2) {
  background-color: #03B2A5; 
}

.hamburger span:nth-child(3) {
  background-color:  #03B2A5;
}



